In [1]:
print ("Hello World!")

Hello World!

In [2]:
x = (67 + 33)  * (25 - 20) / 25

In [3]:
x

20.0

In [4]:
(4 + 5 * 60 - 17 + 65 / 4)**(1/2)

17.414074767267998

In [5]:
6.996 + 45 * (13 / 2)**2 + 2 * 18**(1 / 2)

1916.7312813742387

In [6]:
(1267 - 20 * (5**3 / 2)**2) / (8**5 * 36**(1 / 2))

-0.3909200032552083

In [8]:
((((9**(1 / 2))**3)**2)**2) / (-2)**(-3)

-4251528.0

In [9]:
4 ** (1/2)

2.0

In [10]:
name = input('Введите своё имя: \n')
print('Сегодня Вас зовут', name)

Введите своё имя:
Алексей
Сегодня Вас зовут Алексей

In [11]:
word = 'Очаровательно'
print(len(word))

13

In [12]:
string_1 =  'Hello, world!'
string_2 = 'Python <3'
string_3 = 'qwerty'
print((len(string_1) * len(string_2) * len(string_3))**(1 / 3))

SyntaxError: unexpected EOF while parsing (<ipython-input-12-4a7cf199e454>, line 4)

In [14]:
number = 169
if (number**(1 / 2) * 10) % 10 == 0:
    print(int(number**(1 / 2)))
else:
    print( "Квадратный корень из", number, "- не целое число")

13

In [15]:
a = True 
b = False
a and b or not a and not b

False

In [16]:
"239" < "30" and 239 > 30

True

In [17]:
"5a"<"5b" and 123/2 > 30 or True

True

In [18]:
y > x**y - 1000 or "test" > "push"

NameError: name 'y' is not defined

In [19]:
x = 10 
y = 15
y > x**y - 1000 or "test" > "push"

True

In [20]:
 number = 346
 if (number % 2) == 0 or (number % 5) == 0 or (number % 173) == 0 or (number % 821) == 0:
     print("Вова, это нужное число")
else:
    print("Вова, в этот раз ты не попал")

Вова, это нужное число

In [21]:
word = 'подшипник'
for i in range(1, len(word), 2):
    print(word[i])

о
ш
п
и

In [22]:
2012 / 4

503.0

In [23]:
word = 'Зимушка-зима'
glas = 'аеёиоуыэюя'
for i in range(0, len(word) + 1):
    if word[i] in glas:
        print(word[i])

и
у
а
и
а

IndexError: string index out of range

In [24]:
name = 'Сергей'
for i, letter in enumerate(name):
    print('Буква', i,'в этом имени -', letter)

Буква 0 в этом имени - С
Буква 1 в этом имени - е
Буква 2 в этом имени - р
Буква 3 в этом имени - г
Буква 4 в этом имени - е
Буква 5 в этом имени - й

In [31]:
num_1 = 25
num_2 = 45
if num_2 < num_1 or num_1 < 0:
    print("Введён неверный диапазон чисел")
else:
    for i in range(num_1, num_2 + 1):
        if ((i % 2) != 0) and ((i % 3) == 0 or (i % 5) == 0):
            print(i)

25
27
33
35
39
45

In [32]:
number = 84
for i in range(1, number + 1):
    if (number % i) ==0:
        print(i)

1
2
3
4
6
7
12
14
21
28
42
84

In [33]:
#num_1 = int(input())
#num_2 = int(input())
num_1 = 12
num_2 = 38
if num_1 < num_2:
    a = num_1
else:
    a  = num_2
for i in range(2, a +1):
    if (num_1 % i) == 0 and (num_2 % i) == 0:
        print(i)

2

In [34]:
n = 10
a1 = 1
a2 = 1
fib = 0
for i in range(3, n +1):
    s = a1 + a2
    a1 = a2
    a2 = s
print(s)

55

In [35]:
number = 15
for i in range(1, 11):
    print(number, 'X', i, '=', number*i)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [43]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [44]:
string = 'Нет'
for i in range(0,5):
    if string == 'Да':
        print("Это отлично!")
        break
    else:
        print("Увы, это неправильный ответ")
else:
    print("Это безнадёжно!")

Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Это безнадёжно!

In [45]:
number = 173
for i in range(2, int(number**(1/2)):
    if (number % i) == 0:
        print("Не является простым")
        break
else:
    print("Простое")

SyntaxError: invalid syntax (<ipython-input-45-0a1d05a82e96>, line 2)

In [46]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']

In [47]:
OurBestStudents[0]

'Александр'

In [48]:
OurBestStudents[3]

'Диана'

In [49]:
OurBestStudents[5]

'Максим'

In [50]:
OurBestStudents[8]

'Серафим'

In [51]:
OurBestStudents[10]

'Павел'

In [52]:
OurBestStudents[13]

'Галина'

In [53]:
OurBestStudents[14]

'Вячеслав'

In [54]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [55]:
body[7:-1]

[]

In [56]:
body

['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [57]:
body[:]

['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [58]:
body[1:]

['руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [59]:
body[1:8]

['руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [60]:
body[-6:-8]

[]

In [61]:
body[-8:-6]

['голова', 'руки']

In [62]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']

In [63]:
sparta[-2:1:-3]

['Капустин', 'Козлов', 'Сидоров']

In [64]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
new_list = my_list[::2]
result = 0
for number in new_list:
    result += number
print(result)

590

In [66]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)
print(my_list)

[1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [67]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()
my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()
print(my_list)

['а', 'а', 'а', 'б', 'б', 'п', 'п', 'я']

In [69]:
new = []
res = 0
for i in range(1, 50):
    if (i % 3) == 0:
        new.append(i)
for j in new:
    res += j 
result = res
print(result)

408

In [71]:
raw_list = ['переменные', 'циклы', 'условия', 'списки', 'словари', 'файлы', 'функции']
my_list = []
for i in raw_list:
    my_list.append(len(i))
result = min(my_list) + max(my_list)
print(result)

15

In [72]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min = min(raw_list)
x_max = max(raw_list)
my_list = []
for i in raw_list:
    if (i % 2) == 0:
        my_list.append(i * x_min)
    else:
        my_list.append(i * x_max)
result = max(my_list)
print(result)

5041

In [74]:
my_list = [x for x in range(1, 50)  if x%7 == 0]
print(my_list)

[7, 14, 21, 28, 35, 42, 49]

In [75]:
draw_dict = {
    'Россия': 'A',
    'Португалия': 'B',
    'Франция': 'C',
    'Дания': 'C',
    'Египет': 'A'
}
draw_new = {}
for i in draw_dict:
    if draw_dict[i] == 'A':
        draw_new[i] = 'A'
print(draw_new)

{'Россия': 'A', 'Египет': 'A'}

In [76]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
pulsometer_id = csv_file[6][0]
print(pulsometer_id)

IndexError: list index out of range

In [77]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
csv_file_filtered = []
for record in csv_file:
    if record[2] > 10':
        csv_file_filtered.append(record)

SyntaxError: EOL while scanning string literal (<ipython-input-77-2e078ae068ec>, line 11)

In [78]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]
csv_dict_boots = []
for record in csv_dict:
    str1 = record['position']
    if "Ботинки" in str1:
        csv_dict_boots.append(record)
print(csv_dict_boots)

[{'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9}, {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20}]

In [91]:
import collections
data = {"events_data": [{"id": 47946124, "client_id": 62526, "user_id": 110777, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 47947076, "client_id": 61944, "user_id": 108565, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 47962056, "client_id": 27115, "user_id": 49440, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 47962120, "client_id": 27115, "user_id": 49440, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-31 23:59:59", "startDate": "2019-03-25 00:00:00"}}, {"id": 47962218, "client_id": 27115, "user_id": 49440, "category": "table", "action": "sort", "options": {"dir": "ASC", "name": "deal_date"}}, {"id": 47962238, "client_id": 27115, "user_id": 49440, "category": "table", "action": "sort", "options": {"dir": "DESC", "name": "deal_date"}}, {"id": 47962532, "client_id": 27115, "user_id": 49440, "category": "table", "action": "sort", "options": {"dir": "ASC", "name": "deal_date"}}, {"id": 47962534, "client_id": 27115, "user_id": 49440, "category": "table", "action": "sort", "options": {"dir": "DESC", "name": "deal_date"}}, {"id": 47962696, "client_id": 27115, "user_id": 49440, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-10 23:59:59", "startDate": "2019-03-04 00:00:00"}}, {"id": 47962748, "client_id": 27115, "user_id": 49440, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-02-24 23:59:59", "startDate": "2019-02-18 00:00:00"}}, {"id": 47962830, "client_id": 27115, "user_id": 49440, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-31 23:59:59", "startDate": "2019-03-25 00:00:00"}}, {"id": 47962860, "client_id": 27115, "user_id": 49440, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-31 23:59:59", "startDate": "2019-03-28 00:00:00"}}, {"id": 47962952, "client_id": 27115, "user_id": 49440, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-31 23:59:59", "startDate": "2019-03-29 00:00:00"}}, {"id": 47964366, "client_id": 62017, "user_id": 108835, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 47989384, "client_id": 63120, "user_id": 113069, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48010418, "client_id": 59883, "user_id": 108493, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48012170, "client_id": 2913, "user_id": 37412, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48014430, "client_id": 62940, "user_id": 112351, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48022684, "client_id": 63149, "user_id": 113143, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48026886, "client_id": 45391, "user_id": 76047, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48034878, "client_id": 18923, "user_id": 36488, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48042052, "client_id": 63019, "user_id": 113169, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48043326, "client_id": 18923, "user_id": 36488, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48043640, "client_id": 18923, "user_id": 36488, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48051248, "client_id": 15759, "user_id": 92681, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48061250, "client_id": 62007, "user_id": 92681, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48066902, "client_id": 62941, "user_id": 112357, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48081876, "client_id": 51009, "user_id": 87778, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48106514, "client_id": 62236, "user_id": 109579, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48110768, "client_id": 44682, "user_id": 74909, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48114652, "client_id": 39709, "user_id": 67955, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48118216, "client_id": 60459, "user_id": 32532, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48118370, "client_id": 62144, "user_id": 109283, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48118516, "client_id": 60459, "user_id": 32532, "category": "report", "action": "change_mode", "options": {"mode": "deals"}}, {"id": 48118564, "client_id": 60459, "user_id": 32532, "category": "report", "action": "change_mode", "options": {"mode": "summary"}}, {"id": 48118590, "client_id": 60459, "user_id": 32532, "category": "report", "action": "change_mode", "options": {"mode": "deals"}}, {"id": 48118920, "client_id": 60459, "user_id": 32532, "category": "report", "action": "change_mode", "options": {"mode": "summary"}}, {"id": 48120374, "client_id": 60459, "user_id": 32532, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48120386, "client_id": 60459, "user_id": 32532, "category": "report", "action": "change_mode", "options": {"mode": "deals"}}, {"id": 48120602, "client_id": 52492, "user_id": 91178, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48120604, "client_id": 52492, "user_id": 105477, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48120770, "client_id": 60459, "user_id": 32532, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48120876, "client_id": 60459, "user_id": 32532, "category": "table", "action": "sort", "options": {"dir": "ASC", "name": "visitor_id"}}, {"id": 48120896, "client_id": 60459, "user_id": 32532, "category": "table", "action": "sort", "options": {"dir": "DESC", "name": "visitor_id"}}, {"id": 48121006, "client_id": 60459, "user_id": 32532, "category": "table", "action": "sort", "options": {"dir": "ASC", "name": "visitor_id"}}, {"id": 48121008, "client_id": 60459, "user_id": 32532, "category": "table", "action": "sort", "options": {"dir": "DESC", "name": "visitor_id"}}, {"id": 48125372, "client_id": 52492, "user_id": 91178, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48130434, "client_id": 18923, "user_id": 36488, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48135712, "client_id": 25301, "user_id": 54229, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48136376, "client_id": 18923, "user_id": 36488, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48136890, "client_id": 33645, "user_id": 61378, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48145332, "client_id": 62089, "user_id": 109095, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48155244, "client_id": 26705, "user_id": 48880, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48160942, "client_id": 1103, "user_id": 109501, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48166190, "client_id": 62439, "user_id": 110397, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48167428, "client_id": 44196, "user_id": 74136, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 48171114, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48173426, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48173444, "client_id": 62602, "user_id": 111069, "category": "report", "action": "link_click", "options": {"url": "javascript:void(0);", "name": "deal_count", "value": "1"}}, {"id": 48173446, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48173640, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48173686, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48173698, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48174302, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48174312, "client_id": 62602, "user_id": 111069, "category": "report", "action": "link_click", "options": {"url": "javascript:void(0);", "name": "deal_count", "value": "1"}}, {"id": 48174314, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48174338, "client_id": 62602, "user_id": 111069, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 48179988, "client_id": 50149, "user_id": 86073, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57301281, "client_id": 57009, "user_id": 107244, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57326589, "client_id": 57207, "user_id": 107968, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57328781, "client_id": 32792, "user_id": 57997, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57335607, "client_id": 27323, "user_id": 92681, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57355249, "client_id": 24500, "user_id": 45371, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57357969, "client_id": 24500, "user_id": 45371, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 57364085, "client_id": 58330, "user_id": 122756, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57368897, "client_id": 61245, "user_id": 122796, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57380235, "client_id": 19799, "user_id": 108493, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57397813, "client_id": 56544, "user_id": 105404, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 57397881, "client_id": 56544, "user_id": 105404, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-31 23:59:59", "startDate": "2019-03-31 00:00:00"}}, {"id": 57397923, "client_id": 56544, "user_id": 105404, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-30 23:59:59", "startDate": "2019-03-30 00:00:00"}}, {"id": 57397987, "client_id": 56544, "user_id": 105404, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-29 23:59:59", "startDate": "2019-03-29 00:00:00"}}, {"id": 57398079, "client_id": 56544, "user_id": 105404, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-28 23:59:59", "startDate": "2019-03-28 00:00:00"}}, {"id": 57398119, "client_id": 56544, "user_id": 105404, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-27 23:59:59", "startDate": "2019-03-27 00:00:00"}}, {"id": 57398165, "client_id": 56544, "user_id": 105404, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-26 23:59:59", "startDate": "2019-03-26 00:00:00"}}, {"id": 57398203, "client_id": 56544, "user_id": 105404, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-25 23:59:59", "startDate": "2019-03-25 00:00:00"}}, {"id": 57414209, "client_id": 23207, "user_id": 43300, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57414633, "client_id": 23207, "user_id": 43300, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57414663, "client_id": 23207, "user_id": 85282, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57414851, "client_id": 23207, "user_id": 43300, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57420219, "client_id": 48128, "user_id": 121686, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57424709, "client_id": 58113, "user_id": 120952, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 57424757, "client_id": 58113, "user_id": 120952, "category": "report", "action": "change_mode", "options": {"mode": "deals"}}, {"id": 57425399, "client_id": 58113, "user_id": 120952, "category": "table", "action": "sort", "options": {"dir": "ASC", "name": "ac"}}, {"id": 57425421, "client_id": 58113, "user_id": 120952, "category": "table", "action": "sort", "options": {"dir": "DESC", "name": "ac"}}, {"id": 57426007, "client_id": 58113, "user_id": 120952, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-24 23:59:59", "startDate": "2019-03-18 00:00:00"}}, {"id": 57426303, "client_id": 58113, "user_id": 120952, "category": "datepicker", "action": "apply", "options": {"endDate": "2019-03-17 23:59:59", "startDate": "2019-03-11 00:00:00"}}, {"id": 57431787, "client_id": 58113, "user_id": 120952, "category": "page", "action": "enter", "options": {"name": "page"}}, {"id": 57444593, "client_id": 57613, "user_id": 110958, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57453741, "client_id": 61244, "user_id": 120170, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57467371, "client_id": 53666, "user_id": 122224, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57473917, "client_id": 53018, "user_id": 92402, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57475785, "client_id": 53666, "user_id": 122224, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57492477, "client_id": 41737, "user_id": 122874, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57493427, "client_id": 61078, "user_id": 119662, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57515935, "client_id": 20820, "user_id": 116898, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57517657, "client_id": 41737, "user_id": 122874, "category": "page", "action": "enter", "options": {"name": "landing"}}, {"id": 57540495, "client_id": 49700, "user_id": 84946, "category": "page", "action": "enter", "options": {"name": "landing"}}]}
data1 = data["events_data"]
clients = []
for item in data1:
    client = item['client_id']
    if item['category'] == "report":
        clients.append(client)
c = collections.Counter()
for client in clients:
    c[client] += 1
print (c)
print(c[62602])
k = 0
for item in data1:
    cat = item['category']
    if cat == "page" and item["client_id"] == 62602:
        k += 1
print(k)

Counter({60459: 5, 62602: 2, 58113: 1})
2
9

In [100]:
proverb = 'Программисты - это устройства, преобразующие кофеин в код.'
proverb[19:29].split()+'о'

TypeError: can only concatenate list (not "str") to list

In [3]:
proverb = 'Программисты - это устройства, преобразующие кофеин в код.'
new_proverb = ''
for i in range(0,len(proverb),2):
    new_proverb += proverb[i + 1]
    new_proverb += proverb[i]
print(new_proverb)

рПгоарммсиыт- э оту тсорсйвт,ап ербоарузщюеик фоие н вок.д

In [5]:
basic_word = 'abba'
inverted_word = basic_word[::-1]
print(inverted_word)

abba

In [6]:
basic_word = 'программирование'
inverted_word = basic_word[::-1]
if basic_word == inverted_word:
    print('Слово "', basic_word, '" является палиндромом', sep = '')
else:
     print('Слово "', basic_word, '" - это не палиндром', sep = '')

Слово "программирование" - это не палиндром

In [7]:
email = 'hfkhd@hf.gu'
email[email.find('@') + 1:]

'hf.gu'

In [66]:
number = 56.257
numstr = str(number)
num = int(numstr[numstr.find('.')+1:])
sum1 = 0
while num > 0:
    sum1 += num % 10
    num //= 10
print(sum1)

14

In [67]:
emails_list = ['vasya@mail.ru', 
          'akakiy@yandex.ru', 
          'spyderman@yandex.ru', 
          'XFiles@gmail.com', 
          'hello@mail.ru', 
          'noname@gmail.com', 
          'DonaldTrump@mail.ru', 
          'a768#af@yandex.ru', 
          'Ivan_Ivanovich@yandex.ru', 
          'thebestmail@yandex.ru']
emails_dict = {}
for i in emails_list:
        key = i[i.find('@') + 1:]
        emails_dict.setdefault(key, 0)
        emails_dict[key] += 1
print(emails_dict)

{'mail.ru': 3, 'yandex.ru': 5, 'gmail.com': 2}

In [68]:
string = 'Тяжёлая интернет-зависимость - это когда ты выходишь из интернета, а он из тебя нет.'
sep = ['.', ',', ':', '-', '!', '?']
for i in string:
    if i in sep:
        string = string.replace(i, ':)')
print(string)

Тяжёлая интернет:)зависимость :) это когда ты выходишь из интернета:) а он из тебя нет:)

In [69]:
name = 'Севастиан'
glas = ['а', 'е', 'ё','и','о','у','ы','э','ю', 'я']
sogl = ['б','в','г','д','ж','з','й','к','л','м','н','п','р','с','т','ф','х','ц','ч','ш','щ','ъ','ь']
for i in name:
    if i.lower() in glas:
        print(i, '- гласная буква')
    else:
        print(i, '- согласная буква')

С - согласная буква
е - гласная буква
в - согласная буква
а - гласная буква
с - согласная буква
т - согласная буква
и - гласная буква
а - гласная буква
н - согласная буква

In [70]:
import re
text = 'Разработка языка Python была начата в конце 1980-х годов сотрудником голландского института CWI Гвидо ван Россумом. Для распределённой ОС Amoeba требовался расширяемый скриптовый язык, и Гвидо начал писать Python на досуге, позаимствовав некоторые наработки для языка ABC (Гвидо участвовал в разработке этого языка, ориентированного на обучение программированию). В феврале 1991 года Гвидо опубликовал исходный текст в группе новостей alt.sources. Название языка произошло вовсе не от вида пресмыкающихся. Автор назвал язык в честь популярного британского комедийного телешоу 1970-х "Летающий цирк Монти Пайтона".'
pattern = re.compile('а[А-ЯA-Zа-яa-z][А-ЯA-Zа-яa-z]и')
p2 = re.compile('[аеёиоуыэюяАЕЁИОУЫЭЮЯ]\s[бвгджзйклмнпрстфхцчшщъьБВГДЖЗЙКЛМНПРСТФХЦЧШЩ]')
print(p2.search(text)[0])

а н

In [71]:
f = open('StudentsPerformance.csv') 
edu = []
for line in f:
    info = line.split(',')
    parent = info[1][1:-1]
    if not parent in edu:
        edu.append(parent)
print(len(edu)-1)

5

In [35]:
math = []
f = open('StudentsPerformance.csv')
for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        if info[3] == '"free/reduced"':
            mark = int(info[7][1:-2])
            math.append(mark)

sr = sum(math) / len(math)
print(sr)

63.02253521126761

In [11]:
downmark = 0
for i in math:
    if i > 90:
        downmark += 1
print(downmark)

59

In [12]:

59/68*100

86.76470588235294

In [29]:
students = {}

f = open('StudentsPerformance.csv')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        ethnicity = info[0][1:-1]
        parents = info[2][1:-1]
        mark = int(info[5][1:-1])
        if ethnicity in students:
            if parents in students[ethnicity]:
                if mark > 90:
                    students[ethnicity][parents] += 1
            else:
                students[ethnicity][parents] = 0
        else:
            students[ethnicity] = {}
            if mark > 90:
                students[ethnicity][parents] = 1 
            else:
                students[ethnicity][parents] = 0
print(students['female'])

{"bachelor's degree": 7, 'some college': 2, "master's degree": 2, "associate's degree": 7, 'high school': 1, 'some high school': 2}

In [30]:
string = "may"
print(string[::-1])

yam

In [66]:
def get_median(x):
    x.sort()
    a = len(x)
    if a % 2 == 0:
        return (x[a // 2 - 1] + x[a // 2]) // 2
    else:
        return(x[a // 2])
get_median([5, 2, 1, 3, 4])

3

In [42]:
user_db = [{'orders': 12}, {'orders': 30}, {'orders': 45}]

def avg_orders(user_db):
    order_sum = sum([user['orders'] for user in user_db])
    orders_per_user = order_sum/len(user_db)
    return orders_per_user
print(avg_orders(user_db))

29.0

In [43]:
# добавьте функцию get_euro_rate
from random import random
def get_euro_rate():
    while True:
        a = random()
        if a > 65.0 and a < 85.0:
            return a

# используйте get_euro_rate в следующей функции
def to_euro(price):  
    exchange_rate = get_euro_rate()
    rounded = round(price/exchange_rate, 2)  
    return '€' + str(rounded)

In [44]:
def normalize(numbers, mean = 0, std = 1):
    return list(map(lambda x: (x - mean) / std, numbers))
normalize([10, 20], std=2)

[5.0, 10.0]

In [45]:
def sum_args(*args):
    product = 0
    for num in args:
        product += num
    return product
sum_args(10, 15, -4)

21

In [64]:
def count_letters(sentence, average = False):
    counter = 0
    cwords = 0
    for i in sentence:
        if i != ' ':
            counter += 1
        else:
            cwords += 1
    if average == False:
        return counter
    else:
        return counter / (cwords + 1)
count_letters("I will build my own theme park", average=True)

3.4285714285714284

In [63]:
def always(n):
    def ret():
        return n
    return ret()
five = always(5)
five

5

In [92]:
import numpy as np
def game_core_v2(number):
    '''Изначально берём середину отрезка в качестве предположения.
       Сокращаем отрезок в 2 раза на каждой итерации цикла.
       Функция принимает загаданное число и возвращает число попыток'''
    count = 1
    predict = 50
    left = 0
    right = 100
    while number != predict:
        count+=1
        if number > predict:
            left = predict
            predict = (predict + 1 + right) // 2
        elif number < predict:
            right = predict
            predict = (predict + left) // 2
    return(count) # выход из цикла, если угадали
def score_game(game_core):
    '''Запускаем 1000 раз, чтобы узнать, как быстро игра угадывает число'''
    count_ls = []
    np.random.seed(1) #фиксируем RANDOM SEED, чтобы опыт был воспроизводим
    random_array = np.random.randint(1,101, size=(1000))
    for number in random_array:
        count_ls.append(game_core(number))
    score = int(np.mean(count_ls))
    print(f"Ваш алгоритм угадывает число в среднем за {score} попыток")
    return(score)
score_game(game_core_v2)

Ваш алгоритм угадывает число в среднем за 5 попыток

5

In [91]:
len("    np.random.seed(1) #фиксируем RANDOM SEED, чтобы опыт был воспроизводим")

74

In [1]:
import pandas as pd

In [2]:
data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [3]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [4]:
data[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [5]:
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [6]:
data = pd.Series(list(range(10, 1001)))

In [7]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [8]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [11]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
df.mean()
df['foo']
df.bar.mean()

5.7

In [18]:
football = pd.read_csv('C://Users/bella/Downloads/data_sf.xls')

In [19]:
football.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

In [20]:
football.ShortPassing.std()

14.740435689517149

In [21]:
football.Wage.sum()

96954000

In [22]:
football.Value.min()

0

In [28]:
football[football.Nationality == "Brazil"].Penalties.sum()

22789

In [30]:
football[(football.Composure > 0.9 * football.Composure.max()) & (football.Reactions > 0.9 * football.Reactions.max())].Age.min()

24

In [31]:
football[football.Age == football.Age.max()].Reactions.mean() - football[football.Age == football.Age.min()].Reactions.mean()

22.642857142857146

In [33]:
football[football.Value > football.Value.mean()].Nationality.describe()

count      1747
unique       98
top       Spain
freq        211
Name: Nationality, dtype: object

In [34]:
football[(football.Position == "GK") & (football.GKReflexes == football.GKReflexes.max())].Wage.mean() / football[(football.Position == "GK") & (football.GKHandling == football.GKHandling.max())].Wage.mean()

2.765957446808511

In [35]:
football[football.Aggression == football.Aggression.max()].ShotPower.mean() / football[football.Aggression == football.Aggression.min()].ShotPower.mean()

2.076923076923077

In [38]:
s = football['Club'].value_counts()

In [39]:
len(s)

650

In [40]:
s[0]

30

In [42]:
s[s == 30]

V-Varen Nagasaki    30
Shonan Bellmare     30
Name: Club, dtype: int64

In [43]:
s[-1]

6

In [44]:
s[s == 6]

Atlético Mineiro    6
Name: Club, dtype: int64

In [45]:
football['Position'].value_counts(normalize=True)

GK     0.127239
ST     0.117237
CB     0.108785
CM     0.082732
LB     0.077692
RB     0.073505
RM     0.059394
LM     0.056447
CDM    0.053578
CAM    0.049081
RCB    0.032411
LCB    0.031713
LW     0.018764
RCM    0.018609
RW     0.018376
LCM    0.018066
LDM    0.011476
RDM    0.010700
LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [48]:
small_df = football[football.columns[0:7]].head(25)
s = small_df['Wage'].value_counts(bins=4)
s.index[3]

Interval(447250.0, 565000.0, closed='right')

In [51]:
football['FKAccuracy'].value_counts(bins=5)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [61]:
football[football.Nationality == 'Spain']['Wage'].value_counts(bins=4, normalize=True)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [62]:
football[football.Club == 'Manchester United']['Nationality'].nunique()

13

In [64]:
football[(football.Club == 'Juventus') & (football.Nationality == 'Brazil')]['Name'].unique()

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [66]:
football[football.Age > 35]['Club'].value_counts()

Club Atlético Huracán         4
Hokkaido Consadole Sapporo    4
Club Atlético Tigre           3
Nagoya Grampus                3
Hammarby IF                   3
                             ..
Oldham Athletic               1
Standard de Liège             1
Foggia                        1
IK Start                      1
Universidad de Chile          1
Name: Club, Length: 212, dtype: int64

In [67]:
football[football.Nationality == 'Argentina']['Age'].value_counts(bins = 4)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [70]:
football[football.Nationality == 'Spain']['Age'].value_counts(normalize = True)

21    0.117735
22    0.095380
20    0.077496
23    0.071535
25    0.064083
27    0.062593
24    0.059613
28    0.053651
26    0.053651
29    0.047690
19    0.047690
18    0.038748
30    0.038748
31    0.032787
32    0.032787
33    0.031297
34    0.022355
17    0.013413
35    0.011923
36    0.010432
37    0.008942
39    0.002981
16    0.002981
38    0.001490
Name: Age, dtype: float64

In [71]:
football.groupby(['Position'])['Wage'].sum().sort_values(ascending=False)

Position
ST     11873000
GK      8784000
CB      7476000
CM      6194000
LB      6096000
CAM     5500000
LM      5440000
RM      5098000
RB      5034000
CDM     4921000
RCB     4711000
LCB     3989000
RW      3276000
RCM     3241000
LCM     3145000
LW      2945000
LS      1866000
RDM     1557000
RS      1537000
LDM     1516000
RF       714000
LF       601000
RWB      420000
LAM      366000
LWB      347000
CF       248000
RAM       59000
Name: Wage, dtype: int64

In [73]:
football.groupby(['Position'])[['Wage','Value']].mean.sort_values(['Value'],ascending=False).head(10)()

                   Wage         Value
Position
LF         75125.000000  2.736250e+07
RF        119000.000000  2.636583e+07
LAM        61000.000000  1.324583e+07
RAM        11800.000000  8.345000e+06
LS         15421.487603  5.848430e+06
LCM        13497.854077  4.318090e+06
RCM        13504.166667  4.217604e+06
RS         13482.456140  3.645833e+06
LW         12169.421488  3.603099e+06
RW         13822.784810  3.495738e+06

In [97]:
df = football.groupby('Club')['Wage'].agg(['mean', 'median'])
display(df)

                              mean  median
Club
 SSV Jahn Regensburg   3750.000000    3500
1. FC Heidenheim 1846  3800.000000    3000
1. FC Kaiserslautern   1434.782609    1000
1. FC Köln             9200.000000    4000
1. FC Magdeburg        4000.000000    4000
...                            ...     ...
Zagłębie Sosnowiec     1080.000000    1000
Çaykur Rizespor        5363.636364    4500
Örebro SK              1384.615385    1000
Östersunds FK          1950.000000    1000
Śląsk Wrocław          2083.333333    2000

[650 rows x 2 columns]

In [100]:
df1 = df[df['mean'] - df['median'] == 0.0]
display(df1)

                           mean  median
Club
1. FC Magdeburg          4000.0    4000
AEK Athens               1000.0    1000
AJ Auxerre               2000.0    2000
Benevento                2000.0    2000
Bohemian FC              1000.0    1000
Boyacá Chicó FC          1000.0    1000
Bray Wanderers           1000.0    1000
Brøndby IF               6000.0    6000
CD Feirense              4000.0    4000
CD Tondela               2000.0    2000
Cork City                1000.0    1000
Cruzeiro                13000.0   13000
Deportivo Pasto          1000.0    1000
Dinamo Zagreb            1000.0    1000
Dundalk                  1000.0    1000
Dynamo Kyiv              1000.0    1000
Envigado FC              1000.0    1000
FC Energie Cottbus       1000.0    1000
FC Metz                  1500.0    1500
Grimsby Town             2000.0    2000
Göztepe SK               7000.0    7000
HJK Helsinki             1000.0    1000
Heracles Almelo          2000.0    2000
IF Brommapojkarna        1000.0    1000
IK Sirius                1000.0    1000
Itagüí Leones FC         1000.0    1000
Jaguares de Córdoba      1000.0    1000
Jeonnam Dragons          2000.0    2000
Kaizer Chiefs            1000.0    1000
Kashiwa Reysol           2000.0    2000
Limerick FC              1000.0    1000
Lokomotiv Moscow         1000.0    1000
Northampton Town         2500.0    2500
Olympiacos CFP           1000.0    1000
Orlando Pirates          1000.0    1000
PAOK                     1000.0    1000
PFC CSKA Moscow          1000.0    1000
Panathinaikos FC         1000.0    1000
Patriotas Boyacá FC      1000.0    1000
Philadelphia Union       2000.0    2000
Pohang Steelers          2000.0    2000
SK Slavia Praha          1000.0    1000
Shakhtar Donetsk         1000.0    1000
Shamrock Rovers          1000.0    1000
Sligo Rovers             1000.0    1000
Sparta Praha             1000.0    1000
Spartak Moscow           1000.0    1000
St. Patrick's Athletic   1000.0    1000
Stade Brestois 29        2000.0    2000
Sunderland               4000.0    4000
Trelleborgs FF           1000.0    1000
Viktoria Plzeň           1000.0    1000

In [89]:
df1['mean'].max()

188090.9090909091

In [98]:
4000.000000 - 4000

0.0

In [102]:
football.groupby('Club')['Wage'].sum()['Chelsea']

2035000

In [107]:
football[football.Club == 'FC Barcelona'].groupby('Nationality')['Strength'].max()

Nationality
Argentina      59
Belgium        79
Brazil         62
Chile          79
Croatia        66
France         84
Germany        79
Netherlands    67
Portugal       62
Spain          83
Uruguay        83
Name: Strength, dtype: int64

In [109]:
pivot = football.loc[football['Club'].isin(['FC Barcelona','Real Madrid','Juventus','Manchester United'])].pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
margins=True)
display(pivot)

                           Wage                                           \
Club               FC Barcelona   Juventus Manchester United Real Madrid
Nationality
Argentina              565000.0   205000.0          206000.0         NaN
Belgium                110000.0        NaN          230000.0    240000.0
Bosnia Herzegovina          NaN   180000.0               NaN         NaN
Brazil                 465000.0   335000.0           91000.0    570000.0
Chile                  205000.0        NaN          215000.0         NaN
Costa Rica                  NaN        NaN               NaN    195000.0
Croatia                260000.0   160000.0               NaN    420000.0
Dominican Republic          NaN        NaN               NaN    140000.0
Ecuador                     NaN        NaN          120000.0         NaN
England                     NaN        NaN          478000.0         NaN
France                 495000.0   145000.0          375000.0    459000.0
Germany                240000.0   160000.0               NaN    355000.0
Italy                       NaN   460000.0           88000.0         NaN
Ivory Coast                 NaN        NaN          105000.0         NaN
Morocco                     NaN   160000.0               NaN         NaN
Netherlands            135000.0        NaN               NaN         NaN
Poland                      NaN   125000.0               NaN         NaN
Portugal               125000.0   405000.0               NaN         NaN
Scotland                    NaN        NaN           11000.0         NaN
Serbia                      NaN        NaN          165000.0         NaN
Spain                  912000.0        NaN          260000.0   1404000.0
Uruguay                455000.0        NaN               NaN         NaN
Wales                       NaN        NaN           13000.0    355000.0
All                   3967000.0  2335000.0         2357000.0   4138000.0


Club                     All
Nationality
Argentina             976000
Belgium               580000
Bosnia Herzegovina    180000
Brazil               1461000
Chile                 420000
Costa Rica            195000
Croatia               840000
Dominican Republic    140000
Ecuador               120000
England               478000
France               1474000
Germany               755000
Italy                 548000
Ivory Coast           105000
Morocco               160000
Netherlands           135000
Poland                125000
Portugal              530000
Scotland               11000
Serbia                165000
Spain                2576000
Uruguay               455000
Wales                 368000
All                 12797000

In [134]:
pivot1 = football.pivot_table(values=['Name'],
index=['Position'],
columns=['Club'],
aggfunc='count',
fill_value=0)
display(pivot1)

                         Name                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
CAM                         0                     1                    0
CB                          5                     3                    3
CDM                         1                     0                    3
CF                          0                     0                    0
CM                          2                     1                    0
GK                          3                     2                    3
LAM                         0                     0                    0
LB                          2                     2                    2
LCB                         0                     1                    1
LCM                         0                     0                    0
LDM                         1                     0                    0
LF                          0                     0                    0
LM                          2                     2                    2
LS                          0                     0                    1
LW                          0                     0                    1
LWB                         0                     0                    0
RAM                         1                     0                    0
RB                          2                     2                    2
RCB                         1                     1                    0
RCM                         0                     0                    0
RDM                         1                     0                    1
RF                          0                     0                    0
RM                          0                     3                    2
RS                          0                     0                    1
RW                          0                     0                    0
RWB                         0                     0                    0
ST                          3                     2                    1

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
CAM               0               0              1                  1
CB                1               4              1                  2
CDM               1               0              2                  2
CF                0               1              0                  0
CM                2               0              1                  1
GK                3               3              1                  1
LAM               0               0              0                  0
LB                0               1              1                  2
LCB               0               1              0                  1
LCM               0               1              0                  0
LDM               0               0              0                  0
LF                0               0              0                  0
LM                0               0              0                  0
LS                0               1              0                  0
LW                0               0              0                  0
LWB               1               0              0                  0
RAM               0               0              0                  0
RB                1               0              1                  1
RCB               0               1              0                  0
RCM               0               1              0                  0
RDM               0               0              0                  0
RF                0               0              0                  0
RM                1               3              2                  0
RS                0               1              0                  0
RW                0               2              0                  0
RWB               0               0              0                  0
ST                0               1              3                  0

                                                ...                    \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Position                                        ...
CAM                    0          3          0  ...                 0
CB                     2          1          3  ...                 3
CDM                    0          0          1  ...                 0
CF                     0          0          0  ...                 0
CM                     1          1          2  ...                 4
GK                     1          1          3  ...                 2
LAM                    0          0          0  ...                 0
LB                     1          3          3  ...                 1
LCB                    0          1          1  ...                 1
LCM                    1          0          1  ...                 1
LDM                    0          1          0  ...                 0
LF                     0          0          0  ...                 0
LM                     0          1          2  ...                 0
LS                     0          0          1  ...                 1
LW                     2          0          0  ...                 3
LWB                    0          0          0  ...                 0
RAM                    0          0          0  ...                 0
RB                     1          1          1  ...                 2
RCB                    0          1          1  ...                 1
RCM                    0          0          1  ...                 1
RDM                    0          1          0  ...                 0
RF                     0          0          0  ...                 0
RM                     0          1          2  ...                 1
RS                     1          0          1  ...                 1
RW                     0          0          0  ...                 1
RWB                    0          0          0  ...                 0
ST                     1          3          2  ...                 1

                                                                          \
Club     Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Position
CAM                     2           0                   3              0
CB                      2           3                   4              0
CDM                     3           0                   2              2
CF                      0           0                   0              0
CM                      2           1                   1              1
GK                      4           3                   4              3
LAM                     0           0                   0              0
LB                      1           2                   1              2
LCB                     0           1                   0              1
LCM                     0           1                   1              0
LDM                     1           0                   0              2
LF                      0           0                   0              0
LM                      2           2                   1              2
LS                      0           1                   0              0
LW                      0           0                   1              0
LWB                     0           0                   0              0
RAM                     0           0                   0              0
RB                      2           2                   2              2
RCB                     0           1                   0              1
RCM                     0           1                   1              0
RDM                     0           0                   0              1
RF                      0           0                   0              0
RM                      1           5                   1              4
RS                      0           1                   0              0
RW                      0           0                   1              0
RWB                     0           0                   0              0
ST                      2           4                   3              4

                                                                     \
Club     Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Position
CAM                       3               1         0             1
CB                        2               2         4             1
CDM                       2               5         0             0
CF                        0               0         0             1
CM                        0               0         1             3
GK                        3               3         3             3
LAM                       0               0         0             0
LB                        3               2         0             2
LCB                       1               1         1             1
LCM                       0               0         1             1
LDM                       1               1         0             0
LF                        0               0         0             0
LM                        4               1         0             2
LS                        0               0         0             0
LW                        0               0         3             0
LWB                       0               0         2             0
RAM                       0               0         0             0
RB                        1               3         0             1
RCB                       1               0         1             1
RCM                       0               0         1             0
RDM                       1               1         0             0
RF                        0               0         0             0
RM                        2               1         0             1
RS                        0               0         0             0
RW                        0               0         2             1
RWB                       0               0         2             0
ST                        1               1         5             1


Club     Śląsk Wrocław
Position
CAM                  0
CB                   1
CDM                  3
CF                   0
CM                   1
GK                   3
LAM                  0
LB                   2
LCB                  1
LCM                  0
LDM                  1
LF                   0
LM                   2
LS                   1
LW                   0
LWB                  0
RAM                  0
RB                   2
RCB                  1
RCM                  0
RDM                  1
RF                   0
RM                   2
RS                   1
RW                   0
RWB                  0
ST                   2

[27 rows x 650 columns]

In [123]:
pivot1.loc['GK']['Name'].mean()

2.5246153846153847

In [126]:
pivot1.loc['CM']['Name'].value_counts()

1    211
2    149
0    136
3     89
4     39
5     21
6      5
Name: CM, dtype: int64

In [128]:
pivot2 = football.pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
fill_value=0)
display(pivot2)

                            Wage                                             \
Club         SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Nationality
Afghanistan                    0                     0                    0
Albania                        0                     0                    0
Algeria                        0                     0                    0
Andorra                        0                     0                    0
Angola                         0                     0                    0
...                          ...                   ...                  ...
Uzbekistan                     0                     0                    0
Venezuela                      0                     0                    0
Wales                          0                     0                    0
Zambia                         0                     0                    0
Zimbabwe                       0                     0                    0

                                                                          \
Club        1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Nationality
Afghanistan          0               0              0                  0
Albania              0               0              0                  0
Algeria              0               0              0                  0
Andorra              0               0              0                  0
Angola               0               0              0                  0
...                ...             ...            ...                ...
Uzbekistan           0               0              0                  0
Venezuela            0               0              0                  0
Wales                0               0              0                  0
Zambia               0               0              0                  0
Zimbabwe             0               0              0                  0

                                                   ...                    \
Club        1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Nationality                                        ...
Afghanistan               0          0          0  ...                 0
Albania                   0       2000          0  ...                 0
Algeria                   0          0          0  ...                 0
Andorra                   0          0          0  ...                 0
Angola                    0          0          0  ...                 0
...                     ...        ...        ...  ...               ...
Uzbekistan                0          0          0  ...                 0
Venezuela                 0          0          0  ...                 0
Wales                     0          0          0  ...              4000
Zambia                    0          0          0  ...                 0
Zimbabwe                  0          0          0  ...                 0

                                                                             \
Club        Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Nationality
Afghanistan                0           0                   0              0
Albania                    0           0                   0              0
Algeria                    0        1000                   0              0
Andorra                    0           0                   0              0
Angola                     0           0                   0              0
...                      ...         ...                 ...            ...
Uzbekistan                 0           0                   0              0
Venezuela                  0           0                   0              0
Wales                      0        2000                   0              0
Zambia                     0           0                   0              0
Zimbabwe                   0           0                   0              0

                                                                        \
Club        Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Nationality
Afghanistan                  0               0         0             0
Albania                      0               0      1000             0
Algeria                      0               0         0             0
Andorra                      0               0         0             0
Angola                    1000               0         0             0
...                        ...             ...       ...           ...
Uzbekistan                   0               0         0             0
Venezuela                    0               0         0             0
Wales                        0               0         0             0
Zambia                       0               0         0             0
Zimbabwe                     0               0         0             0


Club        Śląsk Wrocław
Nationality
Afghanistan             0
Albania                 0
Algeria                 0
Andorra                 0
Angola                  0
...                   ...
Uzbekistan              0
Venezuela               0
Wales                   0
Zambia                  0
Zimbabwe                0

[156 rows x 650 columns]

In [129]:
pivot2.loc['Russia']['Wage']['AS Monaco']

61000

In [138]:
pivot3 = football.pivot_table(values=['SprintSpeed'],
index=['Position'],
columns=['Club'],
aggfunc='mean',
fill_value=0, margins=True)
display(pivot3)

                  SprintSpeed                                             \
Club      SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Position
CAM                  0.000000             68.000000             0.000000
CB                  46.600000             61.333333            59.000000
CDM                 82.000000              0.000000            65.666667
CF                   0.000000              0.000000             0.000000
CM                  61.000000             68.000000             0.000000
GK                  33.000000             41.000000            42.666667
LAM                  0.000000              0.000000             0.000000
LB                  76.000000             60.000000            68.000000
LCB                  0.000000             55.000000            45.000000
LCM                  0.000000              0.000000             0.000000
LDM                 55.000000              0.000000             0.000000
LF                   0.000000              0.000000             0.000000
LM                  76.000000             69.500000            70.500000
LS                   0.000000              0.000000            85.000000
LW                   0.000000              0.000000            80.000000
LWB                  0.000000              0.000000             0.000000
RAM                 78.000000              0.000000             0.000000
RB                  68.500000             80.500000            71.500000
RCB                 57.000000             59.000000             0.000000
RCM                  0.000000              0.000000             0.000000
RDM                 65.000000              0.000000            55.000000
RF                   0.000000              0.000000             0.000000
RM                   0.000000             78.333333            82.500000
RS                   0.000000              0.000000            69.000000
RW                   0.000000              0.000000             0.000000
RWB                  0.000000              0.000000             0.000000
ST                  61.666667             69.000000            79.000000
All                 59.041667             65.450000            65.217391

                                                                       \
Club     1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Position
CAM             0.0        0.000000      66.000000          61.000000
CB             60.0       60.000000      55.000000          59.000000
CDM            32.0        0.000000      59.000000          66.500000
CF              0.0       64.000000       0.000000           0.000000
CM             68.5        0.000000      53.000000          72.000000
GK             33.0       39.333333      40.000000          32.000000
LAM             0.0        0.000000       0.000000           0.000000
LB              0.0       69.000000      65.000000          70.500000
LCB             0.0       60.000000       0.000000          53.000000
LCM             0.0       66.000000       0.000000           0.000000
LDM             0.0        0.000000       0.000000           0.000000
LF              0.0        0.000000       0.000000           0.000000
LM              0.0        0.000000       0.000000           0.000000
LS              0.0       86.000000       0.000000           0.000000
LW              0.0        0.000000       0.000000           0.000000
LWB            77.0        0.000000       0.000000           0.000000
RAM             0.0        0.000000       0.000000           0.000000
RB             70.0        0.000000      75.000000          86.000000
RCB             0.0       68.000000       0.000000           0.000000
RCM             0.0       71.000000       0.000000           0.000000
RDM             0.0        0.000000       0.000000           0.000000
RF              0.0        0.000000       0.000000           0.000000
RM             77.0       76.000000      83.000000           0.000000
RS              0.0       53.000000       0.000000           0.000000
RW              0.0       80.500000       0.000000           0.000000
RWB             0.0        0.000000       0.000000           0.000000
ST              0.0       44.000000      65.666667           0.000000
All            55.2       63.238095      64.230769          63.272727

                                                ...                   \
Club     1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Yeni Malatyaspor
Position                                        ...
CAM             0.000000  71.333333   0.000000  ...        71.500000
CB             71.500000  46.000000  53.333333  ...        62.000000
CDM             0.000000   0.000000  56.000000  ...        65.666667
CF              0.000000   0.000000   0.000000  ...         0.000000
CM             69.000000  77.000000  62.500000  ...        64.000000
GK             40.000000  46.000000  34.333333  ...        33.250000
LAM             0.000000   0.000000   0.000000  ...         0.000000
LB             69.000000  67.666667  66.000000  ...        75.000000
LCB             0.000000  52.000000  57.000000  ...         0.000000
LCM            64.000000   0.000000  76.000000  ...         0.000000
LDM             0.000000  64.000000   0.000000  ...        67.000000
LF              0.000000   0.000000   0.000000  ...         0.000000
LM              0.000000  72.000000  70.500000  ...        70.000000
LS              0.000000   0.000000  77.000000  ...         0.000000
LW             74.000000   0.000000   0.000000  ...         0.000000
LWB             0.000000   0.000000   0.000000  ...         0.000000
RAM             0.000000   0.000000   0.000000  ...         0.000000
RB             79.000000  67.000000  78.000000  ...        70.500000
RCB             0.000000  75.000000  57.000000  ...         0.000000
RCM             0.000000   0.000000  63.000000  ...         0.000000
RDM             0.000000  60.000000   0.000000  ...         0.000000
RF              0.000000   0.000000   0.000000  ...         0.000000
RM              0.000000  71.000000  61.000000  ...        87.000000
RS             86.000000   0.000000  81.000000  ...         0.000000
RW              0.000000   0.000000   0.000000  ...         0.000000
RWB             0.000000   0.000000   0.000000  ...         0.000000
ST             69.000000  66.000000  52.500000  ...        57.500000
All            69.727273  65.526316  59.960000  ...        61.363636

                                                                            \
Club     Yeovil Town Yokohama F. Marinos Zagłębie Lubin Zagłębie Sosnowiec
Position
CAM         0.000000           70.333333       0.000000          73.000000
CB         54.000000           45.250000       0.000000          46.500000
CDM         0.000000           61.000000      54.000000          66.000000
CF          0.000000            0.000000       0.000000           0.000000
CM         67.000000           67.000000      55.000000           0.000000
GK         37.000000           27.750000      44.666667          39.000000
LAM         0.000000            0.000000       0.000000           0.000000
LB         57.000000           70.000000      72.000000          60.333333
LCB        44.000000            0.000000      33.000000          61.000000
LCM        70.000000           72.000000       0.000000           0.000000
LDM         0.000000            0.000000      70.000000          74.000000
LF          0.000000            0.000000       0.000000           0.000000
LM         83.500000           70.000000      66.000000          74.250000
LS         81.000000            0.000000       0.000000           0.000000
LW          0.000000           77.000000       0.000000           0.000000
LWB         0.000000            0.000000       0.000000           0.000000
RAM         0.000000            0.000000       0.000000           0.000000
RB         69.500000           68.500000      69.500000          68.000000
RCB        59.000000            0.000000      50.000000          58.000000
RCM        76.000000           72.000000       0.000000           0.000000
RDM         0.000000            0.000000      61.000000          62.000000
RF          0.000000            0.000000       0.000000           0.000000
RM         78.200000           61.000000      75.000000          71.000000
RS         77.000000            0.000000       0.000000           0.000000
RW          0.000000           65.000000       0.000000           0.000000
RWB         0.000000            0.000000       0.000000           0.000000
ST         74.750000           68.666667      65.250000          75.000000
All        66.321429           58.538462      62.280000          63.160000


Club     Çaykur Rizespor  Örebro SK Östersunds FK Śląsk Wrocław        All
Position
CAM            74.000000   0.000000     67.000000      0.000000  68.236967
CB             58.000000  60.750000     76.000000     62.000000  57.734854
CDM            62.800000   0.000000      0.000000     66.666667  60.813314
CF              0.000000   0.000000     77.000000      0.000000  69.803922
CM              0.000000  63.000000     56.333333     72.000000  64.299906
GK             47.000000  33.666667     32.666667     30.666667  37.622182
LAM             0.000000   0.000000      0.000000      0.000000  76.333333
LB             75.500000   0.000000     74.500000     78.500000  70.718563
LCB            63.000000  58.000000     53.000000     59.000000  58.936430
LCM             0.000000  44.000000     62.000000      0.000000  65.334764
LDM            61.000000   0.000000      0.000000     60.000000  62.006757
LF              0.000000   0.000000      0.000000      0.000000  75.875000
LM             58.000000   0.000000     73.500000     72.000000  74.211538
LS              0.000000   0.000000      0.000000     55.000000  72.338843
LW              0.000000  68.333333      0.000000      0.000000  74.747934
LWB             0.000000  68.000000      0.000000      0.000000  72.833333
RAM             0.000000   0.000000      0.000000      0.000000  73.800000
RB             68.666667   0.000000     54.000000     50.500000  71.186709
RCB             0.000000  62.000000     73.000000     58.000000  58.239234
RCM             0.000000  66.000000      0.000000      0.000000  65.233333
RDM            32.000000   0.000000      0.000000     69.000000  62.152174
RF              0.000000   0.000000      0.000000      0.000000  76.333333
RM             85.000000   0.000000     85.000000     68.000000  74.943864
RS              0.000000   0.000000      0.000000     81.000000  71.991228
RW              0.000000  77.500000     67.000000      0.000000  75.417722
RWB             0.000000  72.000000      0.000000      0.000000  73.128571
ST             48.000000  72.200000     52.000000     54.000000  68.700397
All            61.318182  63.000000     61.450000     60.583333  63.205629

[28 rows x 651 columns]

In [155]:
pivot3.loc['ST'].sort_values(ascending=False)

             Club
SprintSpeed  Vitória                  91.000000
             Sydney FC                88.000000
             CD Lugo                  87.000000
             Brøndby IF               84.666667
             Leicester City           84.500000
                                        ...
             Al Ittihad                0.000000
             Cagliari                  0.000000
             KAA Gent                  0.000000
             Sporting de Charleroi     0.000000
             Girona FC                 0.000000
Name: ST, Length: 651, dtype: float64

In [156]:
rat = pd.read_csv('C://Users/bella/Downloads/ratings.xls')

In [157]:
mov = pd.read_csv('C://Users/bella/Downloads/movies.xls')

In [158]:
rat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [159]:
rat.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [162]:
rat["movieId"]

0              1
1              3
2              6
3             47
4             50
           ...
100831    166534
100832    168248
100833    168250
100834    168252
100835    170875
Name: movieId, Length: 100836, dtype: int64

In [164]:
rat['rating'].max()

5.0

In [165]:
mov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [166]:
items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}

In [167]:
purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

In [168]:
items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

In [174]:
joined = items_df.merge(purchase_df, on='item_id', how='inner')
display(joined)

   item_id   vendor  stock_count  purchase_id  price
0   417283  Samsung           54          101  13900
1   849734       LG           33          101   5330
2   132223    Apple          122          101  38200
3   573943    Apple           18          112  49990
4    19475       LG          102          121   9890
5  3294095    Apple           43          145  33000
6   382043  Samsung           77          145  67500
7   302948  Samsung          143          145  34500
8   100132       LG           60          221  11400

In [177]:
joined['cost']=joined['stock_count']*joined['price']
joined.append(joined['cost'])

,item_id,vendor,stock_count,purchase_id,price,cost,0,1,2,3,4,5,6,7,8
0,417283.0,Samsung,54.0,101.0,13900.0,750600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,849734.0,LG,33.0,101.0,5330.0,175890.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,132223.0,Apple,122.0,101.0,38200.0,4660400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,573943.0,Apple,18.0,112.0,49990.0,899820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,19475.0,LG,102.0,121.0,9890.0,1008780.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3294095.0,Apple,43.0,145.0,33000.0,1419000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,382043.0,Samsung,77.0,145.0,67500.0,5197500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,302948.0,Samsung,143.0,145.0,34500.0,4933500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100132.0,LG,60.0,221.0,11400.0,684000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cost,NaN,NaN,NaN,NaN,NaN,NaN,750600.0,175890.0,4660400.0,899820.0,1008780.0,1419000.0,5197500.0,4933500.0,684000.0

In [178]:
joined['cost'].sum()

19729490

In [179]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']

In [187]:
data = []
for i in files:
    if 'txt' in i:
        data.append(i)
print(data)

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [191]:
rat[rat.rating == rat.rating.min()].count()

userId       1370
movieId      1370
rating       1370
timestamp    1370
dtype: int64

In [193]:
joined1 = mov.merge(rat, on='movieId', how='outer')
display(joined1)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09
...,...,...,...,...,...,...
100849,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,184.0,4.0,1.537109e+09
100850,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,184.0,3.5,1.537110e+09
100851,193585,Flint (2017),Drama,184.0,3.5,1.537110e+09
100852,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,184.0,3.5,1.537110e+09
100853,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,331.0,4.0,1.537158e+09

In [196]:
joined1[joined1.movieId == 3456]

,movieId,title,genres,userId,rating,timestamp
54467,3456,"Color of Paradise, The (Rang-e khoda) (1999)",Drama,NaN,NaN,NaN

In [228]:
joined

   item_id   vendor  stock_count  purchase_id  price     cost
0   417283  Samsung           54          101  13900   750600
1   849734       LG           33          101   5330   175890
2   132223    Apple          122          101  38200  4660400
3   573943    Apple           18          112  49990   899820
4    19475       LG          102          121   9890  1008780
5  3294095    Apple           43          145  33000  1419000
6   382043  Samsung           77          145  67500  5197500
7   302948  Samsung          143          145  34500  4933500
8   100132       LG           60          221  11400   684000

In [227]:
joined.stock_count.apply(lambda x:x+1)

0     55
1     34
2    123
3     19
4    103
5     44
6     78
7    144
8     61
Name: stock_count, dtype: int64

In [311]:
log = pd.read_csv('C://Users/bella/Downloads/log.xls')

In [201]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Запись пользователя № - user_919  999 non-null    object
 1   [2019-01-01 14:06:51              984 non-null    object
 2   Unnamed: 2                        485 non-null    float64
 3   Unnamed: 3                        138 non-null    float64
dtypes: float64(2), object(2)
memory usage: 31.3+ KB

In [203]:
log.head(10)

,Запись пользователя № - user_919,[2019-01-01 14:06:51,Unnamed: 2,Unnamed: 3
0,Запись пользователя № - user_973,[2019-01-01 14:51:16,NaN,NaN
1,Запись пользователя № - user_903,[2019-01-01 16:31:16,NaN,NaN
2,Запись пользователя № - user_954,[2019-01-01 17:17:51,NaN,NaN
3,Запись пользователя № - user_954,[2019-01-01 21:31:18,NaN,NaN
4,Запись пользователя № - user_917,[2019-01-01 23:34:55,156789.0,NaN
5,Запись пользователя № - user_900,[2019-01-01 4:37:25,NaN,NaN
6,Запись пользователя № - user_980,[2019-01-01 6:31:23,NaN,NaN
7,Запись пользователя № - user_906,[2019-01-02 10:57:08,NaN,NaN
8,Запись пользователя № - user_952,[2019-01-02 16:55:06,NaN,NaN
9,Запись пользователя № - user_972,[2019-01-02 20:47:54,NaN,NaN

In [259]:
users = pd.read_csv('C://Users/bella/Downloads/users.xls', sep = '\t', encoding = 'koi8-r')

In [312]:
log.columns = ['user_id', 'time', 'bet', 'win']

In [266]:
log['user_id'].unique()

array(['user_973', 'user_903', 'user_954', 'user_917', 'user_900',
       'user_980', 'user_906', 'user_952', 'user_972', 'user_966',
       'user_964', 'user_978', 'user_968', 'user_974', 'user_998',
       'user_990', 'user_942', 'user_929', 'user_976', 'user_927',
       'user_951', 'user_949', 'user_987', 'user_985', 'user_992',
       'user_937', 'user_913', 'user_948', 'user_916', 'user_938',
       'user_997', 'user_940', 'user_918', 'user_960', 'user_905',
       'user_924', 'user_958', 'user_920', 'user_943', 'user_935',
       'user_915', 'user_921', 'user_999', 'user_982', 'user_928',
       'user_944', 'user_912', 'user_969', 'user_901', 'user_995',
       'user_933', 'user_986', 'user_971', 'user_977', 'user_979',
       'user_910', 'user_994', 'user_907', 'user_941', 'user_989',
       'user_955', 'user_991', 'user_996', 'user_926', 'user_984',
       'user_957', 'user_914', 'user_988', 'user_923', 'user_967',
       'user_945', 'user_993', 'user_908', 'user_930', 'user_981',
       'user_936', 'user_922', 'user_962', 'user_965', 'user_959',
       'user_963', 'user_904', 'user_931', 'user_1000', 'user_946',
       'user_970', 'user_939', 'user_961', 'user_911', 'user_950',
       'user_956', 'user_909', 'user_983', 'user_902', 'user_947',
       'user_919', 'user_975', 'user_953', 'user_925', 'user_934',
       'user_932', ''], dtype=object)

In [219]:
log_win = log[log['win'] > 0]
len(log_win)

138

In [225]:
users.head()

     Юзверь                 мейл        Гео
0  User_943  Accumanst@gmail.com     Ижевск
1  User_908    Advismowr@mail.ru     Ижевск
2  User_962      Anachso@ukr.net  Краснодар
3  User_973     Antecia@inbox.ru      Пермь
4  User_902   Balliaryva@ukr.net        NaN

In [319]:
def change(s):
    if s == '#error':
        return ""
    else:
        a = s.find('user')
        return s[a::]
log['user_id'] = log.user_id.apply(change)
display(log)

      user_id                 time       bet      win
0    user_973  2019-01-01 14:51:16       NaN      NaN
1    user_903  2019-01-01 16:31:16       NaN      NaN
2    user_954  2019-01-01 17:17:51       NaN      NaN
3    user_954  2019-01-01 21:31:18       NaN      NaN
4    user_917  2019-01-01 23:34:55  156789.0      NaN
..        ...                  ...       ...      ...
994  user_984   2019-04-20 9:59:58    9754.0      NaN
995                            NaN   10054.0  29265.0
996                            NaN   10454.0      NaN
997                            NaN    1000.0      NaN
998                            NaN   10754.0      NaN

[999 rows x 4 columns]

In [273]:
t = log.time[0]

In [276]:
t

'2019-01-01 14:51:16'

In [275]:
t = log.time[0]
# Удалите квадратную скобку из t, чтобы привести его к более привычному формату
if t[0] == '[':
    t = t[1::]

In [318]:

log['time'] = log.time[log.time.notna()].apply(lambda x: str(x).replace('[',''))

In [321]:
a = 'hello'
a[:0:]

''