In [251]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools as it
from collections import Counter

In [29]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
277,tt1182345,5000000,9760104,Moon,Sam Rockwell|Kevin Spacey|Dominique McElligott...,Duncan Jones,The last place you'd ever expect to find yours...,With only three weeks left in his three year c...,97,Science Fiction|Drama,Liberty Films UK|Lunar Industries|Xingu Films|...,6/12/2009,7.4,2009
782,tt0810913,79000000,149673788,Jack and Jill,Adam Sandler|Katie Holmes|Al Pacino|Eugenio De...,Dennis Dugan,His twin sister is coming for the holidays... ...,"Jack Sadelstein, a successful advertising exec...",91,Comedy,Columbia Pictures|Happy Madison Productions|Br...,11/11/2011,4.2,2011
1225,tt2312718,22000000,43058898,Homefront,Jason Statham|James Franco|Izabela Vidovic|Win...,Gary Fleder,How far would you go to protect your home?,Phil Broker is a former DEA agent who has gone...,100,Action|Thriller,Millennium Films|Open Road Films,11/27/2013,6.4,2013
1731,tt0408839,60000000,127766650,The Heartbreak Kid,Ben Stiller|Malin Ã…kerman|Michelle Monaghan|J...,Bobby Farrelly|Peter Farrelly,He waited all his life to get married. Too bad...,"Eddie, the 40-year-old confirmed bachelor fina...",116,Comedy,Conundrum Entertainment|Davis Entertainment|Dr...,10/5/2007,5.6,2007
261,tt1142988,38000000,205298907,The Ugly Truth,Katherine Heigl|Gerard Butler|Eric Winter|Bree...,Robert Luketic,The battle of the sexes is on.,A romantically challenged morning show produce...,96,Comedy|Romance,Lakeshore Entertainment|Relativity Media,7/24/2009,6.3,2009

In [220]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [350]:
answers = {} # создадим словарь для ответов

#добавим колонку прибыли
profit = pd.DataFrame(data.revenue - data.budget)
profit.columns = ['profit']
total = pd.concat([data, profit], axis = 1)

#добавим колонку с длинами названий
len_title = pd.DataFrame(total.original_title.apply(lambda x: len(x)))
len_title.columns = ['len_title']
new_total = pd.concat([total, len_title], axis = 1)

#добавим колонку с длинами описаний
len_overview = pd.DataFrame(total.overview.apply(lambda x: len(str(x).split(' '))))
len_overview.columns = ['len_overview']
new_total2 = pd.concat([new_total, len_overview], axis = 1)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [363]:
# в словарь вставляем номер вопроса и ответ на него
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [11]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

In [364]:
# в словарь вставляем номер вопроса и ответ на него
answers['2'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [13]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [365]:
# в словарь вставляем номер вопроса и ответ на него
answers['3'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [14]:
data.runtime.mean()

109.6585494970884

In [366]:
# в словарь вставляем номер вопроса и ответ на него
answers['4'] = 110

# 5. Каково медианное значение длительности фильмов?

In [15]:
data.runtime.median()

107.0

In [367]:
# в словарь вставляем номер вопроса и ответ на него
answers['5'] = 107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [31]:
total[total.profit == total.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [368]:
# в словарь вставляем номер вопроса и ответ на него
answers['6'] = 'Avatar'

# 7. Какой фильм самый убыточный?

In [32]:
total[total.profit == total.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [369]:
# в словарь вставляем номер вопроса и ответ на него
answers['7'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [34]:
total[total.profit > 0].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [370]:
# в словарь вставляем номер вопроса и ответ на него
answers['8'] = 1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [300]:
total[total.release_year == 2008].profit.sort_values(ascending=False)

599    816921825
603    601636033
607    557841637
606    501744560
621    474029371
         ...
668    -26054234
705    -30206504
682    -37130952
679    -42966317
636    -80445998
Name: profit, Length: 121, dtype: int64

In [301]:
total[total.profit == 816921825].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [371]:
# в словарь вставляем номер вопроса и ответ на него
answers['9'] = 'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [39]:
total[(total.release_year >= 2012) & (total.release_year <= 2014)].profit.sort_values()

1245    -165710090
1214     -68351500
1007     -51893525
1302     -51337973
1235     -45510171
           ...
1189     894761885
974      908561013
1180    1015439994
1177    1124219009
970     1299557910
Name: profit, Length: 367, dtype: int64

In [40]:
total[total.profit == -165710090].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [372]:
# в словарь вставляем номер вопроса и ответ на него
answers['10'] = 'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [62]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
total.genres.apply(lambda x: Counter(str(x).split('|'))).sum()

Counter({'Action': 582,
         'Adventure': 415,
         'Science Fiction': 248,
         'Thriller': 596,
         'Fantasy': 222,
         'Crime': 315,
         'Western': 19,
         'Drama': 782,
         'Family': 260,
         'Animation': 139,
         'Comedy': 683,
         'Mystery': 168,
         'Romance': 308,
         'War': 58,
         'History': 62,
         'Music': 64,
         'Horror': 176,
         'Documentary': 8,
         'Foreign': 2})

In [373]:
# в словарь вставляем номер вопроса и ответ на него
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [302]:
total1 = total[total.profit > 0]
total1.genres.apply(lambda x: Counter(str(x).split('|'))).sum()

Counter({'Action': 444,
         'Adventure': 337,
         'Science Fiction': 195,
         'Thriller': 446,
         'Fantasy': 188,
         'Crime': 231,
         'Western': 12,
         'Drama': 560,
         'Family': 226,
         'Animation': 120,
         'Comedy': 551,
         'Mystery': 119,
         'Romance': 242,
         'War': 41,
         'History': 46,
         'Music': 47,
         'Horror': 150,
         'Documentary': 7})

In [374]:
# в словарь вставляем номер вопроса и ответ на него
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [305]:
total2 = total
total2['director'] = total.director.apply(lambda x: str(x).split('|'))

In [306]:
total3 = total2.explode('director')
total3.groupby(['director']).sum()['revenue'].sort_values(ascending = False)

director
['Peter Jackson']        6490593685
['Christopher Nolan']    4167548502
['David Yates']          4154295625
['Michael Bay']          3886938960
['J.J. Abrams']          3579169916
                            ...
['David MichÃ´d']           2295423
['Steven Shainberg']        2281089
['Paul Schrader']           2062066
['Keanu Reeves']            2054941
['Simon Hunter']            2033165
Name: revenue, Length: 957, dtype: int64

In [375]:
# в словарь вставляем номер вопроса и ответ на него
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [312]:
total4 = total[total.genres.str.contains('Action')]
pd.Series(total4.director.apply(lambda x: Counter(str(x).split('|'))).sum()).sort_values(ascending = False)

["['Paul W.S. Anderson']"]    7
["['Michael Bay']"]           7
["['Antoine Fuqua']"]         6
["['Ridley Scott']"]          6
["['Robert Rodriguez']"]      6
                             ..
["['Michael Apted']"]         1
["['Tom Dey']"]               1
["['Joel Schumacher']"]       1
["['Luis Mandoki']"]          1
["['Colin Trevorrow']"]       1
Length: 345, dtype: int64

In [376]:
# в словарь вставляем номер вопроса и ответ на него
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [313]:
total5 = total[total.release_year == 2012]
actors = total5.sort_values(['revenue'], ascending = False).head(1).cast.unique()
str(actors).split('|')

["['Robert Downey Jr.",
 'Chris Evans',
 'Mark Ruffalo',
 'Chris Hemsworth',
 "Scarlett Johansson']"]

In [377]:
# в словарь вставляем номер вопроса и ответ на него
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [314]:
total6 = total[total.budget > total.budget.mean()]
pd.Series(total6.cast.apply(lambda x: Counter(str(x).split('|'))).sum()).sort_values(ascending = False)

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Marsha Thomason       1
Jennifer Tilly        1
Eileen Atkins         1
Jenna Elfman          1
Piper Perabo          1
Length: 1505, dtype: int64

In [378]:
# в словарь вставляем номер вопроса и ответ на него
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [326]:
total7 = total[total.cast.str.contains('Nicolas Cage')]
pd.Series(total7.genres.apply(lambda x: Counter(str(x).split('|'))).sum()).sort_values(ascending = False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Romance             1
Horror              1
War                 1
dtype: int64

In [379]:
# в словарь вставляем номер вопроса и ответ на него
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [327]:
total8 = total[total.production_companies.str.contains('Paramount Pictures')]
total8[total8.profit == total8.profit.min()].original_title

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [380]:
# в словарь вставляем номер вопроса и ответ на него
answers['18'] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [110]:
total.groupby(['release_year']).sum()['revenue'].sort_values(ascending = False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [381]:
# в словарь вставляем номер вопроса и ответ на него
answers['19'] = 2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [330]:
total9 = total[total.production_companies.str.contains('Warner Bros')]
total9.groupby(['release_year']).sum()['revenue'].sort_values(ascending = False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

In [382]:
# в словарь вставляем номер вопроса и ответ на него
answers['20'] = 2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [332]:
months = total.release_date.apply(lambda x: str(x)[:x.find('/')]).value_counts().sort_values(ascending = False)
display(months)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [383]:
# в словарь вставляем номер вопроса и ответ на него
answers['21'] = 'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [334]:
months['6'] + months['7'] + months['8']

450

In [384]:
# в словарь вставляем номер вопроса и ответ на него
answers['22'] = 450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [347]:
total10 = total.release_date.apply(lambda x: str(x)[:x.find('/')])
total11 = total[(total10 == '1') | (total10 == '2') | (total10 == '12')]
total12 = total11.explode('director')
total12.director.value_counts().sort_values(ascending = False)

['Peter Jackson']        7
['Clint Eastwood']       6
['Steven Soderbergh']    6
['Shawn Levy']           4
['Nancy Meyers']         4
                        ..
['Alex Garland']         1
['Anthony Hemingway']    1
['Rajkumar Hirani']      1
['Miguel Arteta']        1
['Jesse Dylan']          1
Name: director, Length: 332, dtype: int64

In [385]:
# в словарь вставляем номер вопроса и ответ на него
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [351]:
total13 = new_total2
total13['production_companies'] = total13.production_companies.apply(lambda x: str(x).split('|'))

In [352]:
total14 = total13.explode('production_companies')
total14.groupby(['production_companies']).mean()['len_title'].sort_values(ascending = False)

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_title, Length: 1771, dtype: float64

In [386]:
# в словарь вставляем номер вопроса и ответ на него
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [354]:
total14.groupby(['production_companies']).mean()['len_overview'].sort_values(ascending = False)

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: len_overview, Length: 1771, dtype: float64

In [387]:
# в словарь вставляем номер вопроса и ответ на него
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [233]:
np.quantile(new_total2['vote_average'], 0.99)

7.8

In [234]:
new_total2[new_total2.vote_average > 7.8]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,len_title,len_overview
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,"[Walt Disney Pictures, Pixar Animation Studios...",6/9/2015,8.0,2015,678708609,10,112
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,"[Element Pictures, No Trace Camping, A24, Dupe...",10/16/2015,8.0,2015,29401758,4,49
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,"[Paramount Pictures, Legendary Pictures, Warne...",11/5/2014,8.0,2014,456752480,12,35
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,"[Marvel Studios, Moving Picture Company (MPC),...",7/30/2014,7.9,2014,603312399,23,28
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,"[Black Bear Pictures, Bristol Automotive]",11/14/2014,8.0,2014,219555708,18,46
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,"[Twentieth Century Fox Film Corporation, Regen...",10/1/2014,7.9,2014,308330363,9,30
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,"[Fox Searchlight Pictures, Scott Rudin Product...",2/26/2014,7.9,2014,144600318,24,66
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,"[Legendary Pictures, Warner Bros., Syncopy]",7/14/2010,7.9,2010,665500000,9,44
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,"[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825,15,67
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,"[Bac Films, Canal+Polska, Heritage Films, Stud...",9/24/2002,7.9,2002,85072577,11,39
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,"[WingNut Films, New Line Cinema]",12/1/2003,7.9,2003,1024888979,45,45
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,"[Paramount Pictures, Appian Way, EMJAG Product...",12/25/2013,7.9,2013,292000694,23,29
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,"[Plan B Entertainment, Regency Enterprises, Ri...",10/18/2013,7.9,2013,167000000,16,61
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,"[Summit Entertainment, Newmarket Capital Group...",10/11/2000,7.9,2000,30723096,7,78

In [388]:
# в словарь вставляем номер вопроса и ответ на него
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [292]:
pairs = []
pairs2 = []
actors = pd.Series(new_total2.cast.apply(lambda x: str(x).split('|')))
for i in actors:
    temp = it.combinations(i, 2)
    pairs.append(list(temp))
for i in pairs:
    for idx in i:
        pairs2.append(idx)
q = pd.DataFrame({'actpairs':pairs2})
q.actpairs.value_counts()

(Daniel Radcliffe, Rupert Grint)          8
(Daniel Radcliffe, Emma Watson)           8
(Rupert Grint, Emma Watson)               7
(Ben Stiller, Owen Wilson)                6
(Johnny Depp, Helena Bonham Carter)       6
                                         ..
(Zach Galifianakis, Michelle Monaghan)    1
(Michelle Rodriguez, John Ortiz)          1
(Mark Ruffalo, Keira Knightley)           1
(Alicia Vikander, Carice van Houten)      1
(Andy Serkis, Kathy Baker)                1
Name: actpairs, Length: 18121, dtype: int64

In [389]:
# в словарь вставляем номер вопроса и ответ на него
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

# Submission

In [390]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '23': 'Peter Jackson',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450}

In [391]:
# и убедиться что ни чего не пропустил)
len(answers)

27